{% extends 'header.html' %}
{% block title %} Blog {% endblock %}

{%  block content %}

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a></li>
					<li class="active">Blog</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<article>
						<div class="post-image">
							<div class="post-heading">
								<h3><a href="problema.html">Problema</a></h3>
							</div>
							<img src="static/img/dummies/blog/problema.jpg" alt="" class="img-responsive" />
						</div>
						<p>
							 La educación es un pilar fundamental para el desarrollo tanto personal como profesional de los individuos, es por esto, que instituciones educativas, centros de aprendizaje, escuelas y demás, buscan impartir bases que suplan esta necesidad y ayuden a la correcta formación de cada individuo que accede a ellos.
						</p>
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="fa fa-calendar"></i><a href="#"> Mar 20, 2016</a></li>
							</ul>
							<a href="{% url 'problema' %}" class="readmore pull-right">Continuar Leyendo <i class="fa fa-angle-right"></i></a>
						</div>
				</article>

                <article>
						<div class="post-image">
							<div class="post-heading">
								<h3><a href="{% url 'justificacion' %}">Justificación</a></h3>
							</div>
							<img src="static/img/dummies/blog/justificacion.jpg" alt="" class="img-responsive" />
						</div>
						<p>
							 Partiendo de ello surge este proyecto el cual será un recurso educativo orientado hacia la WEB que contendrá todos los módulos, temas y actividades que se vallan a realizar en la clase...
						</p>
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="fa fa-calendar"></i><a href="#"> Mar 20, 2016</a></li>
							</ul>
							<a href="{% url 'justificacion' %}" class="readmore pull-right">Continuar Leyendo <i class="fa fa-angle-right"></i></a>
						</div>
				</article>

                <article>
						<div class="post-image">
							<div class="post-heading">
								<h3><a href="{% url 'objetivos' %}">Objetivos</a></h3>
							</div>
							<img src="static/img/dummies/blog/objetivos.jpg" alt="" class="img-responsive" />
						</div>
						<p>
							 Desarrollar un recurso educativo que sea un apoyo para la orientación de las clases ayudando a fortalecer las debilidades y estimulando el interés del estudiante por el aprendizaje haciéndolo capaz de cumplir los objetivos académicos ...
						</p>
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="fa fa-calendar"></i><a href="#"> Mar 20, 2016</a></li>
							</ul>
							<a href="{% url 'objetivos' %}" class="readmore pull-right">Continuar Leyendo <i class="fa fa-angle-right"></i></a>
						</div>
				</article>

				<article>
						<div class="post-slider">
							<div class="post-heading">
								<h3><a href="{% url 'esquemas' %}">Esquemas</a></h3>
							</div>
							<!-- start flexslider -->
							<div id="post-slider" class="postslider flexslider">
								<ul class="slides">
									<li class="img-responsive">
									<img src="static/img/dummies/blog/pez.jpg" alt="" />
									</li>
									<li class="img-responsive">
									<img src="static/img/dummies/blog/rombo1.jpg" alt="" />
									</li>
									<li class="img-responsive">
									<img src="static/img/dummies/blog/rombo2.jpg" alt="" />
									</li>
								</ul>
							</div>
							<!-- end flexslider -->
						</div>
						<p>
							 Propuestas y esquemas que se realizaron para la validación de la idea y el planteamiento del problema.
						</p>
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="fa fa-calendar"></i><a href="#"> Mar 20, 2016</a></li>
							</ul>
							<a href="{% url 'esquemas' %}" class="readmore pull-right">Continuar Leyendo <i class="fa fa-angle-right"></i></a>
						</div>
				</article>
				
				
				<div class="clear"></div>
			</div>

            {% include 'menublog.html' %}

		</div>
	</div>
	</section>

{% endblock %}