{% extends 'header.html' %}
{% block title %} Contacto {% endblock %}

{%  block content %}

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Contacto</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	        <div class="img-responsive center-block aligncenter"><img src="static/img/fotom.png"> </div>
            <div class="text-center">
			<h2><small>Presentado Por</small> Angie Johanna Sichacá Espitia</h2>
			<p><strong>V Semestre </strong>Tecnología en Desarrollo de Sistemas de Información</p>
            </div>
            <hr class="colorgraph">

			</div>
		</div>
	</div>
	</section>

{% endblock %}