{% extends 'header.html' %}
{% block title %} Esquemas {% endblock %}

{%  block content %}

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}"><i class="fa fa-home"></i></a></li>
					<li class="active">Esquemas</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
                <article>
                <div class="post-heading">
								<h3><a href="#">Pentagono Estudiantes</a></h3>
							</div>
						<div class="post-image">
							<img src="static/img/dummies/rombo1.jpg" alt="" class="img-responsive" />
                            
						</div>
				</article>

                 <article>
						<div class="post-heading">
								<h3><a href="#">Pentagono Profesores</a></h3>
							</div>
						<div class="post-image">
							<img src="static/img/dummies/rombo2.jpg" alt="" class="img-responsive" />
                            
						</div>
				</article>

                <article>
						<div class="post-heading">
								<h3><a href="#">Espina de Pez</a></h3>
							</div>
						<div class="post-image">
							<img src="static/img/dummies/pez.jpg" alt="" class="img-responsive" />
                            
						</div>
						
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="fa fa-calendar"></i> Mar 20, 2016</li>
							</ul>
						</div>
				</article>
            </div>

                {% include 'menublog.html' %}

		</div>
	</div>
	</section>

{% endblock %}