<div class="col-lg-4">
				<aside class="right-sidebar">
				<div class="widget">
					<h5 class="widgetheading">Menú</h5>
					<ul class="cat">
						<li><i class="fa fa-angle-right"></i><a href="{% url 'problema' %}">Problema</a> <span> (3)</span></li>
						<li><i class="fa fa-angle-right"></i><a href="{% url 'justificacion' %}">Justificación <span> (3)</span></li>
						<li><i class="fa fa-angle-right"></i><a href="{% url 'objetivos' %}">Objetivos</a><span> (2)</span></li>
                        <li><i class="fa fa-angle-right"></i><a href="{% url 'esquemas' %}">Esquemas</a><span> (3)</span></li>
					</ul>
				</div>

				</aside>
			</div>