{% extends 'header.html' %}
{% block title %} Objetivos {% endblock %}

{%  block content %}

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}"><i class="fa fa-home"></i></a></li>
					<li class="active">Objetivos</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<article>
						<div class="post-image">
							<img src="static/img/dummies/blog/objetivos.jpg" alt="" class="img-responsive" />
                            <div class="post-heading">
								<h3><a href="#">Generales</a></h3>
							</div>
						</div>
						<p>Desarrollar un recurso educativo que sea un apoyo para la orientación de las clases ayudando al docente a desarrollarlas y generando un interés por parte del estudiante en su aprendizaje, haciéndolo capaz de cumplir los objetivos académicos de una manera satisfactoria y aprovechando así el uso de las TIC como una alternativa para la metodología de enseñanza.</p>
				</article>

                <article>
						<div class="post-image">
                            <div class="post-heading">
								<h3><a href="#">Específicos</a></h3>
							</div>
						</div>
                    <ul>
                    <li>Implementar los conocimientos adquiridos para diseñar y desarrollar un sitio WEB que contenga los temas y demás recursos que se requieran en la asignatura de inglés. </li>
                    <li>Crear un modelo de base de datos, el cual almacene la información suministrada por el docente en los procesos de evaluación, los temas relacionados con cada módulo a enseñar y los demás procesos de  seguridad, donde se administran los datos de los estudiantes y de los docentes.</li>
                    <li>Implementar un sistema de seguridad para el ingreso de los usuarios a la página, y así mismo, que esta muestre los resultados a los que está vinculado el usuario.</li>
                    <li>Por otra parte, asegurar que los resultados suministrados por el docente hacia los estudiantes sea de exclusivo uso para este y con ello, evitar la manipulación de datos por parte de terceros.</li>
                
                    </ul>
						
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="fa fa-calendar"></i> Mar 20, 2016</li>
							</ul>
						</div>
				</article>
					
				
				<div class="clear"></div>
			</div>

            {% include 'menublog.html' %}

		</div>
	</div>
	</section>

{% endblock %}